
.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.grid--inline {
  display: -ms-inline-flex;
  display: -webkit-inline-flex;
  display: inline-flex
}

.grid-cell {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto
}

.grid-cell--2 {
  -ms-flex: 2 1 auto;
  -webkit-flex: 2;
  flex: 2
}

.grid--flexCells>.grid-cell {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.grid--top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.grid--bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end
}

.grid--center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.grid--stretch {
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch
}

@media only screen {
  .small-grid--baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline
  }
  .small-grid--top {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
  .small-grid--bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
  .small-grid--center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
  }
  .small-grid--stretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
  }
}

@media only screen and (min-width:43.8125em) {
  .medium-text-center {
    text-align: center
  }
  .medium-text-left {
    text-align: left
  }
  .medium-text-right {
    text-align: right
  }
  .small-text-left {
    text-align: left
  }
  .small-text-right {
    text-align: center
  }
  .med-grid--baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline
  }
  .med-grid--top {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
  .med-grid--bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
  .med-grid--center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
  }
  .med-grid--stretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
  }
}

@media only screen and (min-width:64.0625em) {
  .large-grid--baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline
  }
  .large-grid--top {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
  .large-grid--bottom {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
  .large-grid--center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
  }
  .large-grid--stretch {
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
  }
}

.grid--flexDirectionColumn {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column
}

.grid--flexDirectionColumnReverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.grid--flexDirectionRow {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row
}

.grid--flexDirectionRowReverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse
}

@media only screen {
  .small-grid--flexDirectionColumn {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .small-grid--flexDirectionColumnReverse {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  .small-grid--flexDirectionRow {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row
  }
  .small-grid--flexDirectionRowReverse {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
}

@media only screen and (min-width:43.8125em) {
  .med-grid--flexDirectionColumn {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .med-grid--flexDirectionColumnReverse {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  .med-grid--flexDirectionRow {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row
  }
  .med-grid--flexDirectionRowReverse {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
}

@media only screen and (min-width:64.0625em) {
  .large-grid--flexDirectionColumn {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .large-grid--flexDirectionColumnReverse {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  .large-grid--flexDirectionRow {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row
  }
  .large-grid--flexDirectionRowReverse {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
}

.grid--justifyCenter {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.grid--justifyRight {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

.grid--justifyLeft {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start
}

.grid--justifySpaceBetween {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.grid--justifySpaceAround {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around
}

@media only screen {
  .small-grid--justifyCenter {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
  }
  .small-grid--justifyEnd {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
  }
  .small-grid--justifyStart {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
  }
  .small-grid--justifySpaceBetween {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
  .small-grid--justifySpaceAround {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
  }
}

@media only screen and (min-width:43.8125em) {
  .med-grid--justifyCenter {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
  }
  .med-grid--justifyEnd {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
  }
  .med-grid--justifyStart {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
  }
  .med-grid--justifySpaceBetween {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
  .med-grid--justifySpaceAround {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
  }
}

@media only screen and (min-width:64.0625em) {
  .large-grid--justifyCenter {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
  }
  .large-grid--justifyEnd {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
  }
  .large-grid--justifyStart {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
  }
  .large-grid--justifySpaceBetween {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
  .large-grid--justifySpaceAround {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
  }
}

.grid--flexWrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.grid--flexWrapReverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse
}

.grid--flexNoWrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap
}

@media only screen {
  .small-grid--flexWrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .small-grid--flexWrapReverse {
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
  }
  .small-grid--flexNoWrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}

@media only screen and (min-width:43.8125em) {
  .med-grid--flexWrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .med-grid--flexWrapReverse {
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
  }
  .med-grid--flexNoWrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}

@media only screen and (min-width:64.0625em) {
  .large-grid--flexWrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .large-grid--flexWrapReverse {
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
  }
  .large-grid--flexNoWrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}

.grid-cell--flexGrow1 {
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.grid-cell--top {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start
}

.grid-cell--bottom {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end
}

.grid-cell--center {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch
}

.grid-cell--autoSize {
  -ms-flex: 0 0 auto;
  -webkit-flex: none;
  flex: none
}

@media only screen {
  .small-grid-cell--flexGrow1 {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
  }
  .small-grid-cell--autoSize {
    -ms-flex: 0 0 auto;
    -webkit-flex: none;
    flex: none
  }
  .small-grid-cell--top {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start
  }
  .small-grid-cell--bottom {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end
  }
  .small-grid-cell--center {
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch
  }
}

@media only screen and (min-width:43.8125em) {
  .med-grid-cell--flexGrow1 {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
  }
  .med-grid-cell--autoSize {
    -ms-flex: 0 0 auto;
    -webkit-flex: none;
    flex: none
  }
  .med-grid-cell--top {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start
  }
  .med-grid-cell--bottom {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end
  }
  .med-grid-cell--center {
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch
  }
}

@media only screen and (min-width:64.0625em) {
  .large-grid-cell--flexGrow1 {
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
  }
  .large-grid-cell--autoSize {
    -ms-flex: 0 0 auto;
    -webkit-flex: none;
    flex: none
  }
  .large-grid-cell--top {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start
  }
  .large-grid-cell--bottom {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end
  }
  .large-grid-cell--center {
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch
  }
}

.grid--fit>.grid-cell {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1;
  flex: 1
}

.grid--full>.grid-cell {
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%
}

.grid--1of2>.grid-cell {
  -ms-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%
}

.grid--1of3>.grid-cell {
  -ms-flex: 0 0 33.3333%;
  -webkit-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%
}

.grid--1of4>.grid-cell {
  -ms-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%
}

@media only screen {
  .small-grid--fit>.grid-cell {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1;
    flex: 1
  }
  .small-grid--full>.grid-cell {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%
  }
  .small-grid--1of2>.grid-cell {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .small-grid--1of3>.grid-cell {
    -ms-flex: 0 0 33.3333%;
    -webkit-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
  }
  .small-grid--1of4>.grid-cell {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%
  }
}

.grid--collapse {
  margin: -3rem -1.5rem
}

.grid--gutters>.grid-cell {
  padding: 0 1.5rem
}
.footer {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem
}


@media only screen and (min-width:43.8125em) {
  .med-grid--fit>.grid-cell {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1;
    flex: 1
  }
  .med-grid--full>.grid-cell {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%
  }
  .med-grid--1of2>.grid-cell {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .med-grid--1of3>.grid-cell {
    -ms-flex: 0 0 33.3333%;
    -webkit-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
  }
  .med-grid--1of4>.grid-cell {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%
  }
  .footer .footer-bg {
    ////background-image: url(../assets/images/bubbles--footer--medium.svg)
  }
}

@media only screen and (min-width:64.0625em) {
  .large-grid--fit>.grid-cell {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1;
    flex: 1
  }
  .large-grid--full>.grid-cell {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%
  }
  .large-grid--1of2>.grid-cell {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .large-grid--1of3>.grid-cell {
    -ms-flex: 0 0 33.3333%;
    -webkit-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
  }
  .large-grid--1of4>.grid-cell {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%
  }
  .footer {
    padding-top: .375rem;
    padding-bottom: .375rem
  }
  .footer .footer-bg {
    ////background-image: url(../assets/images/bubbles--footer--large.svg)
  }
}
