/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  border-radius: 0;
  max-width: 100%;
  font-family: $primary-font-family;

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }

  &::placeholder {
    color: black;
  }
}

textarea {
  min-height: 100px;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  margin-bottom: rem-calc(12px); 
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}



/*================ Custom Input style ================*/


input.input--expanded {
  width: 100%
}

input.input--alt {
  min-height: 3.2rem;
  border: 2px solid #38b3e4
}

.input--medium {
  padding-top: .75rem;
  padding-bottom: .75rem
}

input.input--quantity {
  width: 2.5rem
}

@media only screen and (min-width:43.8125em) {
  .form-group.is-filled label,
  .form-group.is-focused label {
    -moz-transform: scale(.9) translateY(-27px);
    -ms-transform: scale(.9) translateY(-27px);
    -webkit-transform: scale(.9) translateY(-27px);
    transform: scale(.9) translateY(-27px)
  }
  input.input--quantity {
    width: 3.75rem
  }
}

input.input--primary {
  color: #38b3e4;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #38b3e4
}

input.input--secondary {
  background-color: #fff;
  height: 3rem;
  border: 2px solid #38b3e4;
  width: 100%;
  color: #808083
}

label {
  margin-bottom: .25rem
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  text-align-last: left;
  font-size: 1rem;
  line-height: 1.5;
}


textarea {
  border: 2px solid #38b3e4;
  width: 100%;
}


/*================ Custom Wrapper (for arrow) ================*/


.select-custom-wrapper {
  position: relative; 
}

.select-custom-wrapper:after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid $tertiary-color;
  right: 1rem;
  top: 1.125rem;
  bottom: 0;
  position: absolute;
  pointer-events: none
}

.select--primary {
  background-color: transparent;
  outline: 0;
  color: #8A8A8A;
  border: 2px solid $tertiary-color;

  &:active,
  &:focus {
    background-color: #fff;
    border: 2px solid #38b3e4;
  }
}


.select--medium {
  padding-top: rem-calc($level1);
  padding-bottom:  rem-calc($level1);
  padding-right: rem-calc($level2);
  padding-left:  rem-calc($level2);
}


@media only screen and (min-width:43.8125em) {
  .select--quantity {
    width: 3.75rem;
  }
}
