/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid $color-border;
  border-radius: 0;
  max-width: 100%;
  font-family: $primary-font-family;

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }

  &::placeholder {
    color: black;
  }
}

textarea {
  min-height: 100px;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}



/*================ Custom Input style ================*/


.input--primary {
  position: relative;
  margin-bottom: rem-calc($base-magic-number); 

  &.is-active {

    input {
      outline: 0;
      background-color: $primary-color;
    }

    label {
      transform: translateY(-41px) translateX(-20px) scale(0.9);
    }
  }


  &.is-filled {


    label {
      transform: translateY(-41px) translateX(-20px) scale(0.9);
    }
  }

  label {
    position: absolute;
    color: black;
    top: 0; 
    margin: auto;
    bottom: 0; 
    left: 0;
    font-weight: bold;
    text-transform: uppercase; 
    transition: all .2s ease-in-out;
    will-change: transform;
    @include text-micro(); 
  }

  input {
    width: 100%;
    margin-bottom: 0; 
    z-index: 2; 
    position: relative;
    font-family: $primary-font-family;
    font-weight: normal; 
    background-color: transparent;
    color: black; 
    border: 3px solid black;
    transition: all .2s ease-in-out;
  }
}


.input--small {
  label,
  input {
    padding: rem-calc($level1);
  }
}

.input--medium {
  input {
    height: rem-calc(48px);
    padding-left: rem-calc($level2); 
    font-weight: bold; 
    @include h5(); 
  }

  label {
    height: 18px;
    padding-left: rem-calc($level2);
  }
}






/*================ Custom Text Area style ================*/

.textarea--primary {
  position: relative;
  margin-bottom: rem-calc($base-magic-number); 

  &.is-active {
    textarea {
      outline: 0;
      background-color: $primary-color;
    }

    label {
      transform: translateY(-71%) translateX(-20px) scale(0.9);
    }
  }


  &.is-filled {

    textarea {

    }

    label {
      transform: translateY(-71%) translateX(-20px) scale(0.9);
    }
  }

  textarea {
    background-color: transparent;
    border: 3px solid black;
    width: 100%; 
    transition: all .2s ease-in-out;
    color: black;
    font-weight: normal; 
    font-family: $primary-font-family; 
    padding: rem-calc($level2); 
    margin-bottom: 0; 

    &:active, 
    &:focus {
      outline: 0;
    }
  }

  label {
    position: absolute;
    padding: rem-calc($level2); 
    top: 0; 
    left: 0; 
    transition: all .2s ease-in-out;
    font-weight: bold;
    text-transform: uppercase; 
    @include text-micro(); 
  }
}
