/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  max-width: 100%;
  font-family: $primary-font-family;
  margin-bottom: rem-calc($level4);

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }

  &::placeholder {
    color: black;
  }
}

textarea {
  min-height: 100px;
}

label {
  display: block;
  margin-bottom: rem-calc($level1);

  @include media-query($medium-up) {
    @include text-micro(); 
  }
}





/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}




/*------------------------------------*\
    #Text Area Styles
\*------------------------------------*/


textarea {
  border: 2px solid $tertiary-color;
  width: 100%;
  border-radius: 4px; 
  min-width: 100%; 
}





/*------------------------------------*\
    #Input Styles 
\*------------------------------------*/


input {

  &.input--primary {
  border: 0;
  background-color: transparent;
  border: 2px solid $quaternary-color;
  border-radius: 5px; 
  font-weight: bold; 

    &:active,
    &:focus {
      border: 2px solid $primary-color; 
      color: $tertiary-color;
      outline: 0; 
    }
  }

  &.input--secondary {
    background-color: #fff;
    height: 3rem;
    border: 2px solid #38b3e4;
    width: 100%;
    color: #808083;
  }

  &.input--expanded {
    width: 100%;
  }

  &.input--alt {
    min-height: 3.2rem;
    border: 2px solid #38b3e4;
  }


  &.input--quantity {
    width: 2.5rem;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: $tertiary-color; 
}


.input--small {
  padding-top: rem-calc($level1);
  padding-bottom: rem-calc($level1);
  padding-left: rem-calc($level1);
  line-height: 0; 
}


.input--medium {
  padding-top: rem-calc($level2);
  padding-bottom: rem-calc($level2);
  padding-left: rem-calc($level1);
  line-height: 0; 
}





/*------------------------------------*\
    #Select Styles 
\*------------------------------------*/


select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  text-align-last: left;
  font-size: 1rem;
  line-height: 1.5;
}


.select-wrapper {
  position: relative; 
  width: 100%; 

  &:after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid $tertiary-color;
    right: rem-calc($level2);
    top: 1.125rem;
    bottom: 0;
    position: absolute;
    pointer-events: none
  }
}

.select-wrapper--primary {

  select {
    width: 100%;
    background-color: transparent;
    outline: 0;
    color: $tertiary-color;
    border: 2px solid $quaternary-color;
    border-radius: 4px;

    &:active,
    &:focus {
      background-color: #fff;
      border: 2px solid #38b3e4;
    }
  }
}


.select-wrapper--medium {
  select {
    padding-top: rem-calc($level2);
    padding-bottom:  rem-calc($level2);
    padding-right: rem-calc($level2);
    padding-left:  rem-calc($level2);
  }
}


.select-wrapper--small {

  &:after {
    content: " ";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid $tertiary-color;
    top: 1rem;
  }

  select {
    padding-top: rem-calc($level1);
    padding-bottom: rem-calc($level1);
    padding-left: rem-calc($level1);
  }
}


@media only screen and (min-width:43.8125em) {
  .select--quantity {
    width: 3.75rem;
  }
}

