

<div class="section--main">
	<section class="rte">
		<div class="default-page__header. text-center">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="default-page__body">
			<div class="row">
				<div class="small-12 columns medium-10 large-8 medium-centered">
					{{ page.content }}
				</div>
			</div>
		</div>
	</section>
</div>
