

<div class="section--main">
	<section class="rte">
		<div class="default-page__header  text-center">
			<h1 class="headline">{{ page.title }}</h1>
		</div>
		<div class="default-page__body">
			<div class="container-fluid">
				<div class="row center-sm">
					<div class="col-sm-12  col-md-10 col-lg-8">
						{{ page.content }}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
