


/*------------------------------------*\
    #Footer
\*------------------------------------*/

footer {
	padding-top: rem-calc($level3);
	padding-bottom: rem-calc($level3);
	position: relative; 
	background-color: $primary-color; 
	color: #fff;
	overflow: hidden;


	.footer__bg {
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		right: 0; 
		position: absolute;
		z-index: 0;

		@include media-query($medium-up) {
			left: 0;
			top: 0;
			width: 90%;
		}

		@include media-query($large-up) {
			width: 100%
		}

		img {
			width: 120%;
			height: 112%;
			object-position: left top;
			object-fit: contain;

			@include media-query($medium-up) {
				width: 55%;
				height: 100%;
				object-position: -30px -23px;
				object-fit: cover;
			}

			@include media-query($large-up) {
				width: 90%;
				height: 100%;
				object-position: -10px -20px;
				object-fit: cover;
			}
		}
	}

	.footer__content {
		z-index: 1; 
		position: relative; 
		padding-top: rem-calc($level4); 

		@include media-query($medium-up) {
			padding-top: 0; 
		}
	}
	
	.footer__credit {
		color: #fff;
		width: 100%;
		text-align: right; 
		display: block; 
		text-align: center; 
		@include text-micro(); 

		@include media-query($medium-up) {
			text-align: right; 
			@include text-mini(); 
		}
	}

	.footer__logo {
		margin-bottom: rem-calc($level4);
		text-align: center; 

		@include media-query($medium-up) {
			margin-bottom: rem-calc($level3);
			margin-top: rem-calc($level4);
		}
	}

	.footer__social {
		margin-top: rem-calc($level4);
		margin-bottom: rem-calc($level4);
		max-width: rem-calc(160px);
		margin-left: auto; 
		margin-right: auto; 

		@include media-query($medium-up) {
			margin-top: 0; 
			margin-bottom: 0; 
			max-width: rem-calc(100px);
			margin-left: auto;
			margin-right: 0; 
			width: 100%;
		}

		.footer__social__link {
			border-bottom: 0;

			@include media-query($medium-up) {
				margin-right: rem-calc($level1);
			}
		}

		ul li:last-child .footer__social__link {
			@include media-query($medium-up) {
				margin-right: 0;
			}	
		}

		svg {
			fill: #fff;
			color: #fff;
			height: rem-calc(24px);
			width: rem-calc(24px);

			@include media-query($medium-up) {
				height: rem-calc(20px);
				width: rem-calc(20px);
			}
		}
	}
}

.footer-nav {

	.footer-nav__item {
		margin-bottom: rem-calc($level3);

		@include media-query($medium-up) {
			margin-bottom: 0;
		}
	}

	.footer-nav__link {
		color: #fff;
		white-space: nowrap;
		border-bottom: 0;
		transition: all .4s cubic-bezier(.86, 0, .070, 1);
		position: relative; 

		&:after {
			content: "";
			height: 2px;
			background-color: $accent-color;
			width: 0;
			bottom: -3px;
			left: 0;
			transition: all .4s cubic-bezier(.86, 0, .070, 1);
			position: absolute; 
		}

		&:focus:after,
		&:hover:after {
			width: 100%
		}
	}
}


.footer-email-sign-up {
	padding-top: rem-calc($level3);

		@include media-query($medium-up) {
			padding-top: 0;
		}

	.footer-email-sign-up__headline {
		color: $primary-color;
		margin-bottom: 0;
		text-align: center; 
		@include h2();

		@include media-query($medium-up) {
			position: relative; 
			bottom: -1px; 
			text-align: right; 
			@include h3();
		}
	}

	.footer-email-sign-up__embed {
		min-height: rem-calc(90px); 

		label {
			color: #38b4e4;
	    font-weight: bold;
	    text-transform: uppercase;
	    left: -110px;
	    top: 40px;
	    font-family: $primary-font-family; 
	    display: none; 

	    @include media-query($medium-up) {
	    }
		}
	}

	form {
		padding-left: 0 !important; 
	}
	
	div {
		padding-bottom: 0 !important; 
	}

	input {
	  border: 0 !important;
	  background-color: transparent !important;
	  border: 2px solid $quaternary-color !important;
	  border-radius: 5px !important; 
	  font-weight: bold !important; 
		padding-left: rem-calc($level1) !important;
		line-height: 4 !important; 
		height: rem-calc(46px) !important;
		font-family: $primary-font-family !important;
		font-size: 1rem !important;
		width: 100% !important;

    &:active,
    &:focus {
      border: 2px solid $primary-color !important; 
      color: $tertiary-color !important;
      outline: 0 !important; 
    }
	}

	button {
		padding: 0 !important; 
	  -moz-border-radius: 6px !important;
	  -webkit-border-radius: 6px !important;
	  transition: none !important;
	  color: #fff !important;
	  cursor: pointer !important;
	  white-space: nowrap !important;
	  position: relative !important; 
	  overflow: hidden !important;
	  border-radius: 40px !important;
	  margin-bottom: 1.125rem !important;
	  display: block !important;
	  vertical-align: middle !important;
	  margin-bottom: 0 !important;
	  font-weight: bold !important; 
	  font-family: $primary-font-family !important; 
	  height: rem-calc(46px) !important;
	  border: 2px solid transparent !important;
  	color: #1b89c7 !important;
 	  background-color: #f6d83d !important;
	  transition: all .3s cubic-bezier(.2, 1, .3, 1) !important; 
	  font-size: 1rem !important; 
	  margin-left: rem-calc($level1) !important;
	  line-height: 0 !important; 
	  min-width: rem-calc(100px) !important;
	  margin-bottom: 0 !important; 


	  @include media-query($medium-up) {
	  	min-width: rem-calc(110px) !important;
	  }


	  @include media-query($large-up) {
	  	min-width: rem-calc(130px) !important;
	  }


	 	&:active,
		&:focus,
		&:hover {
		  border: 2px solid #095280 !important;
		}
	}
}


.footer-email-sign-up--alt {
	background-color: $secondary-color; 
	border-top: 0; 

	.footer-email-sign-up__headline { 
		color: #fff;
	}

	input {
		background: #fff !important; 
		color: #fff;
		border: none; 
	}
}


@media only screen and (max-width:43.8125em) and (orientation:landscape) {
	.footer__bg img {
		width: 120%;
		height: 127%
	}
}


@media only screen and (min-width:43.8125em) and (orientation:landscape) {
	footer .footer__bg {
		top: 0;
		left: -4vw;
		bottom: 0;
		width: 80%
	}
}



