

footer {
	padding-top: 1.125rem;
	padding-bottom: 1.125rem
}

.footer .footer-bg {
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%
}

.footer-bg img {
	width: 120%;
	height: 112%;
	object-position: left top;
	object-fit: contain
}

.footer-nav .footer-nav-link {
	color: #fff;
	white-space: nowrap;
	border-bottom: 0;
	margin-bottom: 1.125rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: all .4s cubic-bezier(.86, 0, .070, 1)
}



.form-group,
select {
	margin-bottom: 1.125rem
}

.footer-nav .footer-nav-link:after {
	content: "";
	height: 2px;
	background-color: #f6d83d;
	width: 0;
	bottom: -2px;
	left: 0;
	-moz-transition: all .4s cubic-bezier(.86, 0, .070, 1);
	-o-transition: all .4s cubic-bezier(.86, 0, .070, 1);
	-webkit-transition: all .4s cubic-bezier(.86, 0, .070, 1);
	transition: all .4s cubic-bezier(.86, 0, .070, 1)
}

.footer-nav .footer-nav-link:focus:after,
.footer-nav .footer-nav-link:hover:after {
	width: 100%
}

.footer-social .footer-social-link {
	border-bottom: 0
}


.footer-social {
	svg {
		fill: #fff;
		color: #fff;
		height: rem-calc(18px);
		width: rem-calc(18px);
	}
}

.footer .footer-bg {
 background-repeat: no-repeat;
 background-size: contain;
 top: 0;
 left: 0;
 bottom: 0;
 width: 100%
}




@media only screen and (max-width:43.8125em) and (orientation:landscape) {
	.footer-bg img {
		width: 120%;
		height: 127%
	}
}

@media only screen and (min-width:43.8125em) {
	.footer .footer-bg {
		left: 0;
		top: 0;
		width: 90%
	}
	.footer-bg img {
		width: 100%;
		height: 100%
	}
}

@media only screen and (min-width:43.8125em) and (orientation:landscape) {
	.footer .footer-bg {
		top: 0;
		left: -4vw;
		bottom: 0;
		width: 80%
	}
}

@media only screen and (min-width:43.8125em) {
	.footer .footer-bg img {
		width: 55%;
		height: 100%;
		object-position: -30px -23px;
		object-fit: cover
	}
}


@media only screen and (min-width:43.8125em) {
	.footer-nav .footer-nav-link {
		margin-bottom: 0
	}
}


@media only screen and (min-width:64.0625em) {
	
	.footer {
		padding-top: .375rem;
		padding-bottom: .375rem
	}
	.footer .footer-bg {
		left: 0;
		top: 0;
		width: 100%
	}
	.footer .footer-bg img {
		width: 65%;
		height: 100%;
		object-position: -43px -20px;
		object-fit: cover
	}
}
