
/*------------------------------------*\
    #Header
\*------------------------------------*/




/*------------------------------------*\
    #Main Navigation
\*------------------------------------*/

.fixed-nav {
  position: fixed; 
  top: 0; 
}

.fixed-nav {
  width: 100%;
  z-index: 100;
}

.absolute-nav {
  width: 100%;
  z-index: 100;
  top: 0;
}
.main-nav {
  .main-nav-title {
    transition:  all 0 linear; 
  }
  .main-nav-title {
    h1 {
      margin-bottom: 0; 
    }
  }
}



/*------------------------------------*\
    #Small Main Navigation 
\*------------------------------------*/

.main-nav--small {

  .main-nav-title {
    margin-bottom: 0; 
  }

  .menuToggle-icon {
    border-bottom: 4px solid $tertiary-color; 
    width: 35px;
    position: absolute;
    top: 18px;
    height: 4px;
    left: 0;
    margin: auto;
    border-radius: 12px;
    transition: all .2s cubic-bezier(.86,0,.070,1);
    width: 100%; 

    &:before,
    &:after {
      height: 4px;
      width: 100%;
      border-radius: 24px;
      width: 100%;
      content: " ";
      position: absolute;
      top: 10px;
      left: 0; 
      background-color: $tertiary-color; 
      transition: all .2s cubic-bezier(.86,0,.070,1);
    }

    &:after {
      top: 20px; 
    }
  }

  .main-nav-menuToggle {
    display: block; 
    width: 36px;
    height: 36px;
    height: 100%;
    position: relative;
    cursor: pointer; 
    border-radius: 0; 
    margin-bottom: 0; 
    background-color: transparent; 
  }

  .main-nav-menuToggle:hover, 
  .main-nav-menuToggle:focus {

    .menuToggle-icon {
       border-bottom: 4px solid $accent-color;
      
      &:before,
      &:after {
        background-color: $accent-color; 
      }
    }
  }
}





/*------------------------------------*\
    #Off Canvas Main Navigation 
\*------------------------------------*/


.main-nav--offCanvas {

  .main-nav__logo {
    width: 100%;
    margin-bottom: rem-calc($level2);
  }

  .main-nav-menu {
    li {
      margin-bottom: rem-calc($level2);
    }
  }

  .main-nav--offCanvas__social {
    margin-top: rem-calc($level4);
    margin-bottom: rem-calc($level4);
    max-width: rem-calc(160px);
    margin-left: auto; 
    margin-right: auto; 

    @include media-query($medium-up) {
      margin-top: 0; 
      margin-bottom: 0; 
      max-width: rem-calc(100px);
      margin-left: auto;
      margin-right: 0; 
    }

    .main-nav--offCanvas__social__link {
      border-bottom: 0;
      margin-right: rem-calc($level2); 

      @include media-query($medium-up) {
        margin-right: rem-calc($level1);
      }
    }

    li:last-child .main-nav--offCanvas__social__link {
      @include media-query($medium-up) {
        margin-right: 0;
      } 
    }

    svg {
      fill: #fff;
      color: #fff;
      height: rem-calc(24px);
      width: rem-calc(24px);

      @include media-query($medium-up) {
        height: rem-calc(20px);
        width: rem-calc(20px);
      }
    }
  }
}


.main-nav--offCanvas .main-nav-navToggle {
  height: rem-calc(60px);
  width: rem-calc(60px);
  position: relative;
  display: block;
  background-color: transparent; 
}

.main-nav--offCanvas .main-nav-navToggle .navToggle-icon {
  color: #8a8a8a;
  transition: all .4s cubic-bezier(.86,0,.070,1);
  width: rem-calc(36px);
  position: relative;
  height: 100%;
  border-radius: 12px;
  z-index: 201;
  left: rem-calc($level2);

  &:before,
  &:after {
    height: 4px;
    width: 100%;
    border-radius: 24px;
    width: 100%;
    content: " ";
    position: absolute;
    top: 30px;
    background-color: $accent-color;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}







.main-nav--large .main-nav-menu .main-nav-menu-link:after,
.main-nav--large .main-nav-title .main-nav-title-logo,
.main-nav--large .main-nav-title .main-nav-title-logo--alt,
.main-nav--small .main-nav-title .main-nav-title-logo { 
  position: absolute; 
}

.main-nav--large .main-nav-menu .main-nav-menu-link,
.main-nav--large .main-nav-title,
.main-nav--small,
.main-nav--small .main-nav-title,
.main-nav-message {
  position: relative; 
}

.main-nav--offCanvas .main-nav-menu,
.main-nav--offCanvas .main-nav-secondaryMenu {
  text-align: center;
}

.main-nav--alt .main-nav-title .main-nav-title-logo,
.main-nav--large .main-nav-menu .main-nav-menu-link,
.main-nav--large .main-nav-title .main-nav-title-logo,
.main-nav--offCanvas .main-nav-menu .main-nav-menu-link,
.main-nav--offCanvas .main-nav-secondaryMenu .main-nav-secondaryMenu-link {
  display: block;
}

.main-nav.main-nav--fixed {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
  position: fixed;
}

.main-nav--offCanvas,
.main-nav--offCanvas.is-closed,
.main-nav--offCanvas.is-open {
  position: fixed; 
}

.main-nav,
.main-nav .main-nav-title {
  transition: all .4s cubic-bezier(.86, 0, .070, 1)
}



.main-nav--large .main-nav-menu .main-nav-menu-link.active-menu-link:after,
.main-nav--large .main-nav-menu .main-nav-menu-link:focus:after,
.main-nav--large .main-nav-menu .main-nav-menu-link:hover:after {
  width: 100%
}


.main-nav--offCanvas .main-nav-navToggle {
  text-align: left
}


.main-nav {
  background-color: transparent;
  width: 100%
}

.main-nav--small,
.main-nav.main-nav--fixed {
  background-color: #fff
}

.main-nav--large .main-nav-menu .main-nav-menu-link,
.main-nav--small .main-nav-menuToggle .menuToggle-icon {
  -moz-transition: all .4s cubic-bezier(.86, 0, .070, 1);
  -o-transition: all .4s cubic-bezier(.86, 0, .070, 1);
  -webkit-transition: all .4s cubic-bezier(.86, 0, .070, 1)
}

.main-nav.is-logo-hidden .main-nav-title {
  opacity: 0
}

.main-nav.main-nav--fixed .main-nav-title {
  opacity: 1
}



.main-nav--small {
  height: 3.75rem;
  padding-left: rem-calc($level2);
  padding-right: rem-calc($level2);
}

.main-nav--small .main-nav-title {
  width: 7rem;
  height: 100%
}

.main-nav--small .main-nav-title .main-nav-title-logo {
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1
}

.main-nav--small .main-nav-title .main-nav-title-logo--alt,
.main-nav--small.main-nav--alt .main-nav-title .main-nav-title-logo {
  opacity: 0
}


.main-nav--small .main-nav-menuToggle .menuToggle-icon {
  color: $tertiary-color;
  transition: all .4s cubic-bezier(.86, 0, .070, 1)
}

.main-nav--small .main-nav-menuToggle .menuToggle-icon:active,
.main-nav--small .main-nav-menuToggle .menuToggle-icon:focus,
.main-nav--small .main-nav-menuToggle .menuToggle-icon:hover,
.main-nav--small.main-nav--alt .main-nav-menuToggle .menuToggle-icon {
  color: #f6d83d
}

.main-nav--small .main-nav-cartToggle {
  padding-right: .75rem
}

.main-nav--small.main-nav--alt {
  background-color: transparent
}

.main-nav--small.main-nav--alt .main-nav-title .main-nav-title-logo--alt {
  opacity: 1
}

.main-nav--small.main-nav--alt .main-nav-menuToggle .menuToggle-icon:focus,
.main-nav--small.main-nav--alt .main-nav-menuToggle .menuToggle-icon:hover {
  color: #095280
}

.main-nav--offCanvas {
  background-color: #38b3e4;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 200;
  top: 0;
  transform: translateX(300%)
}

.main-nav--offCanvas .main-nav-navToggle {
  padding-left: .1875rem
}

.main-nav--offCanvas .main-nav-navToggle .navToggle-icon {
  color: #1b89c7;
  z-index: 201
}

.main-nav--offCanvas .main-nav-navToggle .navToggle-icon:active {
  color: #38b3e4
}

.main-nav--offCanvas .main-nav-menu {
  padding-top: .75rem;
  font-size: 1.25rem;
  line-height: 1.2
}

.main-nav--offCanvas .main-nav-menu .main-nav-menu-link {
  color: #fff;
  width: 100%;
  // padding-bottom: 1.125rem;
  // -moz-transform: translateY(40px);
  // -ms-transform: translateY(40px);
  // -webkit-transform: translateY(40px);
  // transform: translateY(40px)
}

.main-nav--offCanvas.is-closed,
.main-nav--offCanvas.is-open {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0)
}

.main-nav--offCanvas .main-nav-menu .main-nav-menu-link:active {
  color: #f6d83d
}

.main-nav--offCanvas .main-nav-menu .main-nav-menu-animElem {
  opacity: 0;
  -moz-transition: all .6s cubic-bezier(.86, 0, .070, 1);
  -o-transition: all .6s cubic-bezier(.86, 0, .070, 1);
  -webkit-transition: all .6s cubic-bezier(.86, 0, .070, 1);
  transition: all .6s cubic-bezier(.86, 0, .070, 1)
}

.main-nav--offCanvas .main-nav-menu li:nth-child(1) .main-nav-menu-animElem {
  -moz-transition-delay: 60ms;
  -o-transition-delay: 60ms;
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms
}

.main-nav--offCanvas .main-nav-menu li:nth-child(2) .main-nav-menu-animElem {
  -moz-transition-delay: .12s;
  -o-transition-delay: .12s;
  -webkit-transition-delay: .12s;
  transition-delay: .12s
}

.main-nav--offCanvas .main-nav-menu li:nth-child(3) .main-nav-menu-animElem {
  -moz-transition-delay: .18s;
  -o-transition-delay: .18s;
  -webkit-transition-delay: .18s;
  transition-delay: .18s
}

.main-nav--offCanvas .main-nav-menu li:nth-child(4) .main-nav-menu-animElem {
  -moz-transition-delay: .24s;
  -o-transition-delay: .24s;
  -webkit-transition-delay: .24s;
  transition-delay: .24s
}

.main-nav--offCanvas .main-nav-menu li:nth-child(5) .main-nav-menu-animElem {
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s
}

.main-nav--offCanvas .main-nav-menu li:nth-child(6) .main-nav-menu-animElem {
  -moz-transition-delay: .36s;
  -o-transition-delay: .36s;
  -webkit-transition-delay: .36s;
  transition-delay: .36s
}

.main-nav--offCanvas .main-nav-menu li:nth-child(7) .main-nav-menu-animElem {
  -moz-transition-delay: .42s;
  -o-transition-delay: .42s;
  -webkit-transition-delay: .42s;
  transition-delay: .42s
}

.main-nav--offCanvas .main-nav-menu li:nth-child(8) .main-nav-menu-animElem {
  -moz-transition-delay: .48s;
  -o-transition-delay: .48s;
  -webkit-transition-delay: .48s;
  transition-delay: .48s
}

.main-nav--offCanvas .main-nav-secondaryMenu .main-nav-secondaryMenu-link {
  color: #fff
}

.main-nav--offCanvas .main-nav-secondaryMenu .main-nav-secondaryMenu-link:active {
  color: #f6d83d
}

.main-nav--offCanvas.is-closed {
  transform: translateX(0);
  -moz-animation: main-nav-disappear .4s cubic-bezier(.86, 0, .070, 1) forwards;
  -webkit-animation: main-nav-disappear .4s cubic-bezier(.86, 0, .070, 1) forwards;
  animation: main-nav-disappear .4s cubic-bezier(.86, 0, .070, 1) forwards
}

.main-nav--offCanvas.is-open {
  transform: translateX(0);
  -moz-animation: main-nav-appear .4s cubic-bezier(.86, 0, .070, 1) forwards;
  -webkit-animation: main-nav-appear .4s cubic-bezier(.86, 0, .070, 1) forwards;
  animation: main-nav-appear .4s cubic-bezier(.86, 0, .070, 1) forwards
}

.main-nav--offCanvas.is-open .main-nav-menu .main-nav-menu-animElem {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.main-nav--large {
  height: 4.0625rem;
  background-color: #fff;
  z-index: 150;
  width: 100%
}

.main-nav--large .main-nav-inner {
  height: 100%;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: .75rem;
  padding-left: .75rem
}

.main-nav--large .main-nav-inner .main-nav-buyNow {
  display: block;
  margin-bottom: 0; 
}

.main-nav--large .main-nav-inner .main-nav-buyNow {
  padding-left: rem-calc($level3); 
  padding-right: rem-calc($level3); 
}

.main-nav--alt .main-nav-inner .main-nav-buyNow--alt,
.main-nav--large .main-nav-inner .main-nav-buyNow--alt {
  display: none
}

.main-nav--large .main-nav-title {
  height: 100%;
  width: 20%;
  -moz-transition: opacity .4s cubic-bezier(.86, 0, .070, 1);
  -o-transition: opacity .4s cubic-bezier(.86, 0, .070, 1);
  -webkit-transition: opacity .4s cubic-bezier(.86, 0, .070, 1);
  transition: opacity .4s cubic-bezier(.86, 0, .070, 1)
}

.main-nav--large .main-nav-title .main-nav-title-logo {
  width: 7.5rem;
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto
}

.main-nav--large .main-nav-title .main-nav-title-logo--alt,
.main-nav--large.main-nav--minimal .main-nav--minimal-hiddenElm {
  opacity: 0
}

@media only screen and (min-width:64.0625em) {
  .main-nav--large .main-nav-inner {
    padding-right: 1.5rem;
    padding-left: 1.5rem
  }
  .main-nav--large .main-nav-title {
    width: 10rem
  }
}

.main-nav--large .main-nav-menu {
  margin-bottom: 0;
  width: 75%
}

@media only screen and (min-width:64.0625em) {
  .main-nav--large .main-nav-menu {
    width: 60%
  }
}

.main-nav--large .main-nav-menu .main-nav-menu-link {
  color: #8A8A8A;
  white-space: nowrap;
  border-bottom: 0;
  transition: all .4s cubic-bezier(.86, 0, .070, 1)
}

.main-nav--large .main-nav-menu .main-nav-menu-link:after {
  content: "";
  height: 2px;
  background-color: #f6d83d;
  width: 0;
  bottom: -2px;
  left: 0;
  -moz-transition: all .4s cubic-bezier(.86, 0, .070, 1);
  -o-transition: all .4s cubic-bezier(.86, 0, .070, 1);
  -webkit-transition: all .4s cubic-bezier(.86, 0, .070, 1);
  transition: all .4s cubic-bezier(.86, 0, .070, 1)
}

.main-nav--alt,
.main-nav--large.main-nav--minimal {
  background-color: transparent
}

.main-nav--large .main-nav-menu .main-nav-menu-link:focus,
.main-nav--large .main-nav-menu .main-nav-menu-link:hover {
  color: #8A8A8A
}

.main-nav--alt .main-nav-menu .main-nav-menu-link,
.main-nav--alt .main-nav-menu .main-nav-menu-link:focus,
.main-nav--alt .main-nav-menu .main-nav-menu-link:hover,
.section--alt .section-text,
.section--alt .section-title {
  color: #fff
}

.main-nav--large .main-nav-menu .main-nav-menu-link:focus:after,
.main-nav--large .main-nav-menu .main-nav-menu-link:hover:after {
  width: 100%
}

.main-nav--alt .main-nav-title .main-nav-title-logo {
  width: 7.5rem;
  opacity: 0
}

.main-nav--alt .main-nav-title .main-nav-title-logo--alt {
  opacity: 1
}

.main-nav-message {
  z-index: 102;

  a {
    color: #fff;
  }
}




/*------------------------------------*\
    #Header Alert
\*------------------------------------*/


.header-alert {
  background-color: $secondary-color; 
  position: relative; 
  z-index: 102;
  width: 100%;
  top:0; 
  left: 0; 
  rigth: 0; 
  display: block; 
  padding-top: rem-calc(1px);
  padding-bottom: rem-calc(1px);

  a {
    color: #fff;
  }

  .header-alert__inner {
    width: 100%;
    text-align: center; 
    @include text-micro();
  }
}






/*------------------------------------*\
    #Cart
\*------------------------------------*/


.header-cart {
  height: 2.4rem;
  width: 2.4rem;
  background-size: contain;
  bottom: 4px;
  display: block; 
  background-color:transparent; 
  margin-bottom: 0; 

  img {
    width: 100%;
    height: 100%;
  }

  @include media-query($large-up) {
    height: 3rem; 
    width: 3rem; 
  }
}


.header-cart {

   .icon {
      display: block; 
    }
    .alt-icon {
      display: none; 
    }
    &.is-alt {
       @include media-query($medium-up) {
      .icon {
        display: none; 
      }
      .alt-icon {
        display: block; 
      }
    }
  }
}

.main-nav-menu-cart {
  background-color: transparent; 
  margin-bottom: 0; 
}

// .main-nav--minimal {
//   .header-cart {
//     .alt-icon {
//       display: none; 
//     }
//   }

//   .header-cart {
//     @include media-query($medium-up) {
//      .icon {
//         display: block; 
//       }
//       .alt-icon {
//         display: none; 
//       }
//       &.is-alt {
//         .icon {
//           display: none; 
//         }
//         .alt-icon {
//           display: block; 
//         }
//       }
//     }
//   }
// }




/*------------------------------------*\
    #Animations
\*------------------------------------*/


@-moz-keyframes main-nav-appear {
  0%,
  1% {
    opacity: 0;
    -moz-transform: translateY(300%);
    transform: translateY(300%)
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes main-nav-appear {
  0%,
  1% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes main-nav-appear {
  0%,
  1% {
    opacity: 0;
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -webkit-transform: translateY(300%);
    transform: translateY(300%)
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-moz-keyframes main-nav-disappear {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0)
  }
  100%,
  99% {
    opacity: 0;
    -moz-transform: translateY(300%);
    transform: translateY(300%)
  }
}

@-webkit-keyframes main-nav-disappear {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100%,
  99% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%)
  }
}

@keyframes main-nav-disappear {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100%,
  99% {
    opacity: 0;
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -webkit-transform: translateY(300%);
    transform: translateY(300%)
  }
}




