

/*------------------------------------*\
    #Intro Section
\*------------------------------------*/


.intro-section {
	position: relative; 
	overflow: hidden;

	.intro-section__img {
		position: relative;
		transform: scale(1.1) translateX(4vw);
	}

	.intro-section__content {
		z-index: 1; 
		position: relative; 

		@include media-query($medium-up)  {
			padding-top: rem-calc($level7);
    	padding-bottom: rem-calc($level7);
		}

		@include media-query($large-up)  {
			padding-top: rem-calc($level7 + $level3);
    	padding-bottom: rem-calc($level7 + $level3);
		}
	}
	
	.intro-section__img {
		@include media-query($medium-up) {
			position: relative;
    	transform: scale(2) translateX(1vw) translateY(36px);	
		}

		@include media-query($large-up) {
			position: relative;
    	transform: scale(1.5) translateX(3.1vw) translateY(87px);	
		}
	}
}
