
/*------------------------------------*\
    #Off Canvas Cart
\*------------------------------------*/




/*------------------------------------*\
    #Off Canvas Cart
\*------------------------------------*/


@keyframes enter-cart {
  0% {
    transform: translateX(120%);
  }

  1% {
  }
  
  100% {
    transform: translateX(0);
  }
}


@keyframes exit-cart {
  0% {
    transform: translateX(0);
  }

  99% {
    transform: translateX(120%);
  }
  
  100% {
    transform: translateX(120%);
  }
}


@keyframes enter-overlay {
  0% {
    transform: translateX(120%);
    opacity: 0; 
  }

  1% {
    transform: translateX(0);
    opacity: 0; 
  }
  
  100% {
    transform: translateX(0);
    opacity: .8; 
  }
}


@keyframes exit-overlay {
  0% {
    transform: translateX(0);
    opacity: .8; 
  }

  99% {
    transform: translateX(0);
    opacity: 0; 
  }
  
  100% {
    transform: translateX(120%);
    opacity: 0; 
  }
}



.off-canvas-cart-overlay {
  background-color: #fff;
  position: fixed;
  top: 0; 
  bottom: 0; 
  left: 0;
  right: 0; 
  z-index: 100; 
  width: 100vw; 
  height: 100vh; 
  transform: translateX(120%);
  opacity: 0;  

  &.is-hidden {
    animation: exit-overlay .5s $primary-easing forwards;
  }

  &.is-showing {
    animation: enter-overlay .8s $primary-easing forwards;
  }
}


.off-canvas-cart {
  z-index: 101;
  position: fixed;
  top: 0;
  box-shadow: 0 0 28px -10px rgba(0,0,0,0.3);
  background-color: #fff;
  transition: all .2s ease-in-out;
  width: 96%;
  height: 100vh; 
  max-width: 25rem; 
  margin-left: auto;
  right: 0;
  margin-right: auto;
  transform: translateX(120%);

  @include media-query($medium-up) {
    max-width: rem-calc(400px);
    margin-left: auto; 
    top: 0; 
    height: 100vh;
    bottom: 0; 
  }

	&.is-closed {
    animation: exit-cart .5s $primary-easing forwards;
	}

	&.is-open {
		animation: enter-cart .8s $primary-easing forwards;
	}

  &.is-loading {
    .off-canvas-cart__loader {
      animation: loader-fade-in .4s forwards; 
    }
  }

  &.is-loaded {
    .off-canvas-cart__loader {
      animation: loader-fade-out .4s forwards; 
    }
  }

  .off-canvas-cart__loader {
    position: absolute;
    z-index: 3; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    transform: translateY(-140%);
    background-color: rgba(255, 255, 255, .4); 
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1); 
		display: flex; 
		justify-content: center; 
		align-items: center; 
    border-radius: 4px; 

    .loader {
      position: absolute;
      top: 0; 
      right: 0; 
      left: 0;
      bottom: rem-calc(96px); 
      margin: auto;  
    }

    .off-canvas-cart__loader__text {
    	display: block; 
    	padding-top: rem-calc($level4); 
    }
  }

  .off-canvas-cart__inner {
    width: 100%; 
    height: 96%; 
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
    background-color: #fff; 
    position: relative; 

    &.is-hidden {
      opacity: 0; 
    }
  }

  .off-canvas-cart__empty-state {
    opacity: 0; 
    animation: fade-in .4s forwards; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    position: relative; 
    top: -2rem; 
    height: 100%; 
    text-align: center; 
    @include h4(); 

    p {
      font-family: $tertiary-font-family; 
      color: $primary-color;
      @include h5(); 
    }
  }

  .off-canvas-cart__continue-shopping {
    position: absolute; 
    top: .8rem; 
    left: rem-calc($level2); 
    z-index: 1; 
    color: $quaternary-color; 
    transition: all .4s $primary-easing;
    background-color: transparent; 
    @include text-micro(); 

    &:hover,
    &:focus {
      color: $tertiary-color;

      .off-canvas-cart__continue-shopping__arrow {
        transform: translateX(-2px);
        svg {
          stroke: $tertiary-color;
        }
      }
    }



    @include media-query($medium-up) {
      top: .5rem; 
      @include text-mini(); 
    }

    span {
      width: 100%; 
      height: 100%; 
      display: flex; 
      align-items: center; 
    }

    .off-canvas-cart__continue-shopping__arrow {
      width: 1.5rem;
      height: .75rem;
      display: block;
      margin-right: .25rem;
      transition: all .4s $primary-easing;

      svg {
        stroke: $quaternary-color;
      }
    }

    .off-canvas-cart__continue-shopping__text {
      display: block; 
      @include text-mini(); 
    }
  }
	
	.off-canvas-cart__close {
		position: absolute; 
		top: rem-calc($level3); 
		right: rem-calc($level2); 
		height: rem-calc(42px);
		width: rem-calc(42px);
		background-color: transparent; 
		z-index: 1; 
		background-color: #fff; 
		
		.off-canvas-cart__close__icon {

      &:after,
      &:before {
        content: ""; 
        width: 72%;
        height: 4px; 
        background-color: $quaternary-color; 
        left: 0; 
        right: 0; 
        position: absolute;
        transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
      }

      &:before {
        top: 50%; 
        transform: translateY(0) rotate(-45deg); 
      }

      &:after {
        top: 50%; 
        transform: translateY(0) rotate(45deg); 
      }
		}
	}

	.off-canvas-cart__header {
		width: 100%;
    margin-top: 2.5rem;
		padding-top: rem-calc($level2); 
    margin-bottom: rem-calc($level2);
    border-top: 2px solid $quintenary-color;  

		.off-canvas-cart__header__headline {
			color: $primary-color;
			margin-bottom: 0; 
      font-family: $secondary-font-family; 
      text-align: center; 
      margin-top: rem-calc($level3); 
			@include h2(); 
		}
	}

  .off-canvas-cart__contents {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%; 
    margin-bottom: rem-calc($level2); 
    position: relative;
    max-height: 66%; 
    height: auto;
    background-color: #fff; 
    
    &::-webkit-scrollbar {
      width: rem-calc(10px);
      background: #fff;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      background: $quaternary-color;
      border-radius: 12px; 
    }
  }

  .off-canvas-cart__product {
    width: 100%; 
    background-color: #fff; 
    margin-bottom: rem-calc(1px);
    padding: rem-calc($level1);
    position: relative;
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
    display: flex;
    align-items: top; 
    width: 92%; 
    margin-right: auto; 
    margin-left: auto; 

    &.is-removed {
      opacity: 0; 
    }

    .off-canvas-cart-product__image {
      width: 30vw; 
      max-width: 5.5rem;
    }


    .off-canvas-cart-product__name {
      display: block; 
      color: $body-color; 
      text-decoration: none; 
      font-family: $tertiary-color; 
      font-weight: bold;
      @include text-micro();

      @include media-query($medium-up) {
        margin-bottom: rem-calc($level1); 
      }

      &:hover, 
      &:focus {
        color: $body-color; 
        text-decoration: none;  
      }
    }

    .off-canvas-cart-product-type {
      color: $quaternary-color; 
      text-transform: uppercase; 
      font-weight: bold; 
      font-family: $secondary-font-family; 
      margin-bottom: rem-calc($level1);
      display: block; 
      @include text-micro(); 
    }

    .off-canvas-cart-product__info {
      padding-top: rem-calc($level1);
      padding-left: rem-calc($level2);
      margin-bottom:  0; 
      min-width: rem-calc(142px);
      position: relative; 
			width: 100%; 
    }

    .off-canvas-cart-product__price-properties {
    	display: flex; 
    	position: relative; 
    	flex-direction: column; 
    	margin-bottom: rem-calc($level2); 

	    .off-canvas-cart__product__price {
	      position: relative;
        color: $body-color; 
        text-decoration: none; 
        font-weight: bold; 
        font-family: $tertiary-color; 
        @include text-micro();
	    }
    }


		.off-canvas-cart-product__qty {
			display: flex; 
			flex-direction: row; 
			align-items: center; 
      position: absolute; 
      top: 0; 
      right: -.5rem;  
      width: auto; 
			
			.off-canvas-cart-product__qty__actions {
				display: flex;
				align-items: center; 
        flex-direction: column; 

				button {
					color: $quaternary-color;
					background-color: transparent; 
					margin-bottom: 0; 
					font-size: 1.25rem; 

          &:active, 
          &:focus {
            color: $secondary-color; 
          }
				}

			}

			.ajaxcart__qty-adjust {
				//display: none; 
        color: $quaternary-color;
			}

			label {
				text-transform: uppercase;
				display: block; 
				font-weight: bold;
				margin-right: rem-calc($level1);  
				margin-bottom: 0; 
				@include h6();
			}

			input {
				width: rem-calc(34px);
				height: rem-calc(34px);
				margin-right: rem-calc($level1);
				margin-left: rem-calc($level1);
				text-align: center;
				border: none; 
        margin-bottom: 0; 
        color: $secondary-color; 
				@include h4(); 
			}
		}

   .off-canvas-cart-product-remove {
        position: relative;
        bottom: 0; 
        display: block; 
        transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
        text-decoration: none; 
        color: $primary-color; 
        font-weight: bold;
        width: auto;
        flex: none;
        display: inline;
        @include text-mini();

        &:hover, 
        &:focus {
          cursor: pointer; 
        	text-decoration: underline; 
        }
    }
  }


  .off-canvas-cart__footer {
    background-color: #fff;
    position: relative;
    width: 100%; 
    padding-top: rem-calc($level2); 
    padding-right: rem-calc($level2);
    padding-left: rem-calc($level2);
    left: 0;
    bottom: 0;
    right: 0;
  }

  .off-canvas-cart__total {
    border-top: 1px solid $quintenary-color; 
    width: 100%; 
    padding-top: rem-calc($level2);
    padding-bottom: rem-calc($level1);
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
    display: flex; 
    align-items: center; 
		flex-direction: row; 
		justify-content: space-between; 
    font-weight: bold; 
    @include text-micro();

    .off-canvas-cart__total__amount {
       @include h6();
    }

    p {
      margin-bottom: 0; 
    }
  }

  .off-canvas-cart__shipping {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc($level2);  
    padding-left: rem-calc($level1);
    padding-right: rem-calc($level1);
    font-weight: bold; 
    @include text-micro();

    p {
      margin-bottom: 0; 
    }

    p:nth-child(2) {
      @include text-mini(); 
    }
  }

  .off-canvas-cart-actions {
    width: 100%; 
  }

  .off-canvas-cart__checkout-btn {
  	margin-bottom: rem-calc($level2); 
  }
}


  @keyframes fade-in {
    0% {
      opacity: 0; 
    }

    100% {
      opacity: 1; 
    }
  }



  @keyframes loader-fade-in {
    0% {
      opacity: 0; 
      transform: translateX(100%); 
    }

    1% {
      opacity: 0; 
      transform: translateX(0); 
    }

    100% {
      opacity: 1; 
      transform: translateX(0); 
    }
  }

    @keyframes loader-fade-out {
    0% {
      opacity: 1; 
      transform: translateX(0); 
    }

    99% {
      opacity: 0; 
      transform: translateX(0); 
    }

    100% {
      opacity: 0; 
      transform: translateX(100%); 
    }
  }
  