
/*------------------------------------*\
    #Reviews Capture Section
\*------------------------------------*/

.reviews-capture {
	.reviews-capture__headline {
		color: $primary-color;
		text-align: center; 
	}
	.reviews-capture__body{
		text-align: center; 
	}
}