

/*------------------------------------*\
    #The Science Section
\*------------------------------------*/

.section--science {

	.section--science-body {
		margin-bottom: 1.5rem;
		font-size: 1.125rem;
		line-height: 1.33333
	}

	.section--science-headline {
		font-size: 2rem;
		line-height: 1.5;
	}

	.section--science-photo {
		width: 100%;
		margin-left: -6vw;
		margin-top: -8vh;
	  height: 16.25rem;
	  width: 16.25rem;

	  &:after {
			position: absolute; 
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			max-width: rem-calc(380px);

			@include media-query($medium-up) {
				max-width: 100%; 
			}
		}
	}
}



@media only screen and (min-width:43.8125em) {
	.section--science .section--science-photo {
		height: 23.25rem;
		width: 50vw;
		margin-left: -21vw
	}

	.section--science .section--science-photo {
		height: 23.25rem;
		width: 50vw;
		margin-left: -21vw;
	}
}


@media only screen and (min-width:64.0625em) {
	.section--science .section--science-photo {
		height: 21.75rem;
		width: 50vw;
		margin-left: -11vw
	}

	.section--science .section--science-photo img {
		margin-top: -100px;
		width: 42vw;
		height: auto
	}

	.section--science .section--science-headline {
		font-size: 2.5rem;
		line-height: 1.33333
	}


	.section--science .section--science-headline {
		font-size: 2.5rem;
		line-height: 1.33333
	}

  .section--science .section--science-photo {
    height: 18.75rem;
  }

}


