

/*------------------------------------*\
    #The Science Section
\*------------------------------------*/


.the-science-section {
	position: relative; 
	overflow: hidden; 

	.the-science-section__photo {
		width: 100%;
    margin-left: -8vw;
    margin-top: -8vh;
    left: 0; 

    @include media-query($medium-up) {
	    height: 23.25rem;
	    width: 50vw;
	    margin-left: -21vw;
    }

    @include media-query($large-up) {
    	height: 21.75rem;
    	width: 50vw;
    	margin-left: -11vw;	
    }
	}

	.the-science-section__photo img {
		height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: rem-calc(460px); 

    @include media-query($medium-up) {
    	max-width: 100%; 
    }
	
		@include media-query($large-up) {
		  margin-top: -100px;
    	width: 42vw;
    	height: auto;	
		}
	}
}

