

/*------------------------------------*\
    #Cart Page
\*------------------------------------*/



/*------------------------------------*\
    #Empty Cart
\*------------------------------------*/


.empty-cart {
	margin-top: rem-calc($level7);

	@include media-query($medium-up) {
		margin-top: rem-calc($level7 + $level7);
	}

	.empty-cart__headline {
		@include h2(); 
	}
	.empty-cart__cta {
		max-width: rem-calc(200px);
	}
}





/*------------------------------------*\
    #Filled Cart
\*------------------------------------*/


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table--primary {
	thead tr th {
		padding-bottom: rem-calc($level1);
	}

	th {
		text-align: left; 
	}

	tr {
		border-bottom: 2px #f3f3f3 solid;
	}

	tr td {
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
}


.cart {
	margin-bottom: rem-calc($level4);

	.cart__inner {
		@include media-query($medium-up) {
			max-width: rem-calc(900px); 
			margin: auto; 
		}
	}

	.cart__line-items {
		margin-bottom: rem-calc($level3); 
		@include text-micro(); 

		@include media-query($medium-up) {
			@include h6(); 
		}
	}

	.cart__line-item__title {
		display: block;
		color: $tertiary-color;
		transition: all .2s cubic-bezier(.86,0,.070,1);
		@include h6(); 

		&:hover, 
		&:focus  {
			opacity: .6;
		}
	}

	.cart__line-item__remove {
		color: $primary-color; 

		&:hover, 
		&:focus {
			text-decoration: underline
		}
	}

	.cart__line-item__image {
	  width: 100%;
	  text-align: center;
	  display: block;
		transition: all .2s cubic-bezier(.86,0,.070,1);

		&:hover, 
		&:focus  {
			transform: translateX(6px);
		}

	  img {
	  	max-width: rem-calc(100px);
	  	width: 100%;
	  }
	}

	.cart__line-item__image {
		max-width: rem-calc(90px);
	}

  .cart__line-item {

		@include media-query($medium-up) {
			@include text-micro(); 
		}
	}
	
	.cart__qty-select {
		min-width: rem-calc(40px);
		max-width: rem-calc(60px);
    margin-right: 2.25rem;
    margin-left: 1rem;

		@include media-query($medium-up) {
			min-width: 0; 
			max-width: 3rem;
		}

		select {
			margin-bottom: 0; 
		}
	}

	.cart__pricing {
		margin-bottom: rem-calc($level3); 
		text-align: right; 
		width: 100%;

		.cart__pricing__total-label {
			margin-bottom: 0; 
			font-weight: bold; 
			margin-right: rem-calc($level1);
			@include h3(); 
		}

		.cart__pricing__total {
			color: $primary-color; 
			margin-bottom: 0; 
			margin-right: 0; 
			font-weight: bold; 
			@include h2(); 
		}
	}
	
	.cart__cta-container {
		text-align: center; 

		.cart__cta {
		max-width: rem-calc(300px);
		margin-right: 0; 
		margin-bottom: rem-calc($level2);
		min-width: 14rem;
		}

		.cart__shipping-costs-note {
			@include text-mini(); 
		}
	}
}


