


/*------------------------------------*\
    #Contact Page
\*------------------------------------*/


.contact-info {
  .medium-label {
		font-weight: bold; 
		color: $primary-color;
  }

  a {
    color: $body-color;
    border-bottom: 2px solid $accent-color;

    &:hover, 
    &:focus {
      border-bottom: 2px solid transparent;
    }
  }

  li {
    margin-bottom: rem-calc($level3);
  }
}
