

/*------------------------------------*\
    #Hangover Science Page
\*------------------------------------*/



/*------------------------------------*\
    #Narrative Menu
\*------------------------------------*/

.narrative-menu {
  right: 0;
  top: 25%;
  z-index: 99;
  position: fixed; 

  .narrative-menu-bullet {
    height: .75rem;
    width: .75rem;
    background-color: #1b89c7;
    border: 2px solid #095280;
    margin-bottom: .75rem;
    margin-right: .75rem;
    -moz-transition: all .2s cubic-bezier(.86, 0, .070, 1);
    -o-transition: all .2s cubic-bezier(.86, 0, .070, 1);
    -webkit-transition: all .2s cubic-bezier(.86, 0, .070, 1);
    transition: all .2s cubic-bezier(.86, 0, .070, 1);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%
  }

  .narrative-menu-bullet.active {
    background-color: #f6d83d;
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
  }

  .narrative-menu-bullet:focus,
  .narrative-menu-bullet:hover {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }

  .narrative-menu-bullet a {
    width: 100%;
    height: 100%;
    display: block; 
  }
}





/*------------------------------------*\
    #Narrative Slides
\*------------------------------------*/


.narrative-slide {
  overflow: hidden; 
  position: relative; 
}

.narrative-slide--finalSlide {
  .narrative-slide__content {
    padding-top: rem-calc($level4);
    padding-bottom: rem-calc($level4)
  }

   @include media-query($medium-up) {
    .narrative-slide__content {
      height: 85vh
    }
  }
}


.narrative-footer {
  @include media-query($medium-up) {
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 0;  
    transform: translateY(100%);
    transition: all 1s cubic-bezier(.86, 0, .070, 1);
  }

  &.is-showing {
    transform: translateY(0);
    transition: all 1s cubic-bezier(.86, 0, .070, 1); 
  }
}



@media only screen and (min-width:43.8125em) {
  .narrative-slide {
    min-height: 100vh
  }
  .narrative-slide .fp-tableCell {
    width: 100%;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}


@media only screen and (min-width:64.0625em) {
  .narrative-menu .narrative-menu-bullet {
    margin-right: rem-calc($level2); 
  }
}

.narrative-slide-blowfish {
  height: 3.75rem;
  width: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem-calc($level2);
  position: relative; 
}

.narrative-slide-blowfish:before {
  content: " ";
 background-image: url(../assets/bubbles--hangoverScience--small.svg);
  width: 600px;
  height: 700px;
  background-size: contain;
  background-position: left bottom;
  left: -17.875rem;
  top: -12.125rem;
  position: absolute; 
}

@media only screen and (orientation:landscape) {
  .narrative-slide-blowfish:before {
    left: -18.875rem
  }
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-blowfish:before {
   background-image: url(../assets/bubbles--hangoverScience--medium1.svg);
    left: -69vw;
    width: 51rem;
    height: 49rem;
    bottom: -5rem;
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-blowfish:before {
   background-image: url(../assets/bubbles--hangoverScience--large.svg);
    left: -35.25rem;
    width: 77rem;
    height: 43rem
  }
}

@media only screen and (min-width:100.0625em) {
  .narrative-slide-blowfish:before {
   background-image: none
  }
}

.narrative-slide-visual {
  height: 17.5rem;
  width: 17.5rem
}

.narrative-slide-visual:after {
  content: "";
  width: 15.625rem;
  height: 15.625rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-size: cover
}


.narrative-slide-blowfish:before,
.narrative-slide-visual:after {
  position: absolute;
}


.narrative-slide {
  position: relative; 
  .narrative-slide__headline {
    font-family: $primary-font-family; 

    @include media-query($medium-up) {
      @include h2();       
    }
  } 
}

.narrative-slide--alt {
  background-color: $primary-color;
  color: #fff; 

  .narrative-slide__headline {
    color: $accent-color; 
  }
}

.narrative-slide--intro {
  background-color: $primary-color; 
  color: #fff;
  text-align: center; 
  min-height: 696px;

  .narrative-slide__headline {
    color: $accent-color;
  }

  .narrative-slide__body {
    color: #fff;

    @include media-query($large-up) {
      max-width: rem-calc(400px);
      margin-right: auto;
      margin-left: auto;   
    }
  }
}


.narrative-slide-visual {
  position: relative; 
  margin-bottom: rem-calc($level2);
}

.narrative-slide-visual--dehydration:after {
 background-image: url(../assets/illustr--dehydration.png);
  left: -6%
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--dehydration:after {
   background-image: url(../assets/animation--dehydration--medium.gif);
    width: 35.625rem;
    height: 35.625rem;
    left: -20%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--dehydration:after {
   background-image: url(../assets/animation--dehydration--large.gif);
    width: 33rem;
    height: 33rem;
    left: -10%
  }
}

.narrative-slide-visual--irritability:after {
 background-image: url(../assets/illustr--irritability.png)
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--irritability:after {
   background-image: url(../assets/animation--irritability--medium.gif);
    width: 28rem;
    height: 28rem;
    left: 4%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--irritability:after {
   background-image: url(../assets/animation--irritability--large.gif);
    width: 32rem;
    height: 32rem;
    left: 16%
  }
}

.narrative-slide-visual--fatigue:after {
 background-image: url(../assets/illustr--fatigue.png);
  top: -13%;
  left: -6%
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--fatigue:after {
   background-image: url(../assets/animation--fatigue--medium.gif);
    width: 30rem;
    height: 30rem;
    left: -12%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--fatigue:after {
   background-image: url(../assets/animation--fatigue--large.gif);
    left: 2%
  }
}

.narrative-slide-visual--impairedMentalFunction:after {
 background-image: url(../assets/illustr--impairedMentalFunction.png);
  bottom: 2%;
  left: -5%;
  height: 14.5rem
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--impairedMentalFunction:after {
   background-image: url(../assets/animation--impairedMentalFunction--medium.gif);
    width: 37rem;
    height: 37rem;
    left: -18%;
    bottom: -90%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--impairedMentalFunction:after {
   background-image: url(../assets/animation--impairedMentalFunction--large.gif);
    width: 37rem;
    height: 37rem;
    left: -15%;
    bottom: -50%
  }
}

.narrative-slide-visual--sensitivity:after {
 background-image: url(../assets/illustr--sensitivity.png);
  width: 21.625rem;
  height: 21.625rem;
  left: -38%;
  bottom: 60%
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--sensitivity:after {
   background-image: url(../assets/animation--sensitivity--medium.gif);
    width: 31rem;
    height: 31rem;
    left: -20%;
    bottom: -30%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--sensitivity:after {
   background-image: url(../assets/animation--sensitivity--large.gif);
    width: 32rem;
    height: 32rem;
    left: -33%;
    bottom: 30%
  }
}

.narrative-slide-visual--difficultyFocusing:after {
 background-image: url(../assets/illustr--difficultyFocusing.png)
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--difficultyFocusing:after {
   background-image: url(../assets/animation--difficultyFocusing--medium.gif);
    width: 31rem;
    height: 31rem;
    left: -6%;
    bottom: -25%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--difficultyFocusing:after {
   background-image: url(../assets/animation--difficultyFocusing--large.gif);
    width: 31rem;
    height: 31rem;
    left: 6%;
    bottom: 7%
  }
}

.narrative-slide-visual--nausea:after {
 background-image: url(../assets/illustr--nausea.png)
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--nausea:after {
   background-image: url(../assets/animation--nausea--large.gif);
    width: 31rem;
    height: 31rem;
    left: -11%;
    bottom: 4%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--nausea:after {
   background-image: url(../assets/animation--nausea--large.gif);
    width: 31rem;
    height: 31rem;
    left: -4%;
    bottom: -25%
  }
}

.narrative-slide-visual--headache:after {
 background-image: url(../assets/illustr--headache.png);
  width: 20.625rem;
  height: 16.625rem;
  left: -4%;
  top: -5%
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--headache:after {
   background-image: url(../assets/animation--headache--medium.gif);
    width: 30rem;
    height: 30rem;
    left: -24%;
    bottom: -130%
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--headache:after {
   background-image: url(../assets/animation--headache--large.gif);
    left: 3%;
    bottom: -52%;
    width: 32rem;
    height: 32rem
  }
}

.narrative-slide-visual--productShot:after {
 background-image: url(../assets/packagingShot--narrative--medium.jpg);
  width: 19rem;
  height: 19rem;
  bottom: 21%
}

@media only screen and (min-width:43.8125em) {
  .narrative-slide-visual--productShot:after {
    width: 25rem;
    height: 25rem;
    bottom: 39%;
    left: -18%;
  }
  .narrative-slide.fp-section .narrative-slide-copy {
    -moz-transition: all 1s cubic-bezier(.86, 0, .070, 1) .4s;
    -o-transition: all 1s cubic-bezier(.86, 0, .070, 1) .4s;
    -webkit-transition: all 1s cubic-bezier(.86, 0, .070, 1);
    -webkit-transition-delay: .4s;
    transition: all 1s cubic-bezier(.86, 0, .070, 1) .4s
  }
  .narrative-slide.fp-section .narrative-slide-cta {
    -moz-transition: all 1s cubic-bezier(.86, 0, .070, 1) .8s;
    -o-transition: all 1s cubic-bezier(.86, 0, .070, 1) .8s;
    -webkit-transition: all 1s cubic-bezier(.86, 0, .070, 1);
    -webkit-transition-delay: .8s;
    transition: all 1s cubic-bezier(.86, 0, .070, 1) .8s
  }
  .narrative-slide.fp-section .narrative-slide-copy,
  .narrative-slide.fp-section .narrative-slide-cta {
    opacity: 0;
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px)
  }
  .narrative-slide.fp-section.active .narrative-slide-copy,
  .narrative-slide.fp-section.active .narrative-slide-cta {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@media only screen and (min-width:64.0625em) {
  .narrative-slide-visual--productShot:after {
    bottom: 30%;
    width: 26rem;
    height: 26rem;
   background-image: url(../assets/packagingShot--narrative--large.jpg)
  }
}
