

/*------------------------------------*\
    #Product Page
\*------------------------------------*/

.product {

	.product__title {
		color: $tertiary-color;
		font-family: $secondary-font-family; 
		font-weight: bold; 
		@include h2();

		span {
			&.is-hidden {
				display: none; 
			}
		} 
	}
	

	.product__price {
		span {
			&.is-hidden {
				display: none; 
			}
		}
	}

	.product__description {
		font-weight: bold; 
		
		span {
			&.is-hidden {
				display: none; 
			}
		}
	}

	.product__images {
		img {
			&.is-hidden {
				display: none; 
			}
		}
	}

	.product__actions {
		.product__actions__label {
			text-transform: uppercase; 
			color: $primary-color;
			font-weight: bold; 
			margin-right: rem-calc($level2); 
			@include text-mini();
		}

		.product__actions__select {
			margin-bottom: rem-calc($level2); 
		}
	}
}
