

/*------------------------------------*\
    #Product Page
\*------------------------------------*/







/*------------------------------------*\
    #Product Page Nav
\*------------------------------------*/


.product-page-nav {
	width: 100vw; 
	margin-top: rem-calc($level3);  
	margin-bottom: rem-calc($level5);  

	.product-page-nav__inner {
    overflow-x: scroll;
    font-size: 0px;
    margin: 0px -1000px;
    scroll-padding: 0px 1000px;
    scroll-snap-type: x mandatory;


		.product-page-nav__links {
			width: 100%; 
			// display: flex; 
			// flex-direction: row;  
			// margin-left: rem-calc($level2); 
			// margin-right: rem-calc($level2); 
	    display: inline-flex;
	    white-space: nowrap;


			.product-page-nav__links__item {
				margin-right: rem-calc($level2); 
				margin-left: rem-calc($level2); 
				background-color: red; 
				min-width: 7rem;  
				max-width: 8rem; 

				&.is-active,
				&.swiper-slide-active {

					a {
						color: $secondary-color; 
					}

					&:after {
						content: " ";
				    height: 3px;
				    width: 100%;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    right: 0;
						background-color: $secondary-color; 
					}
				}
			}

			.product-page-nav__links__link {
				text-align: center; 
				padding-left: rem-calc($level2); 
				color: $quaternary-color;
				font-family: $tertiary-font-family; 
				padding-right: rem-calc($level2); 
				text-align: center;
				max-width: 7rem;
				display: block;
				@include text-mini(); 
			}
		}

		.product-page-nav__track {
			width: 100%; 
			height: 2px; 
			background-color: #EBEBEB;
			display: block;
			margin-left: rem-calc($level2); 
			margin-right: rem-calc($level2); 
			z-index: 0;
    	position: absolute;
    	left: 0; 
    	right: 0; 
		}
	}
}





/*------------------------------------*\
    #Product Page Headline
\*------------------------------------*/


.product-page-headline {
		color: $primary-color; 
		font-weight: bold; 
		font-family: $secondary-font-family;
		text-align: center; 
		display: block;
		margin-top: rem-calc($level2); 
		margin-bottom: rem-calc($level5);
		@include h2();  

	@include media-query($medium-up) {
		margin-top: rem-calc($level5); 
		@include h1();  
	}

	@include media-query($large-up) {
		margin-top: 0;
		margin-bottom: 0; 
	}
}


.product {
	margin-bottom: rem-calc($level7); 

	@include media-query($medium-up) {
		margin-top: rem-calc($level7); 
		margin-bottom: rem-calc($level7 + $level3); 
	}

	@include media-query($large-up) {
		margin-top: rem-calc($level5); 
		margin-bottom: rem-calc($level7 + $level3); 
	}

	@include media-query($widescreen) {
		margin-bottom: rem-calc($level7 + $level7);
	}
		
	&.product--reverse {
			.product__images {

				@include media-query($medium-up) {
					right: -10%; 
					left: auto; 
				}
			}
	}

	.product__inner {
		max-width: rem-calc(740px);

		@include media-query($large-up) {
			min-width: 51.75rem; 
			max-width: 57rem;
			margin-right: auto; 
			margin-left: auto; 
		}

		@include media-query($widescreen) {
			max-width: 60rem;
		}
	}

	.product__title {
		color: $tertiary-color;
		font-family: $secondary-font-family; 
		font-weight: bold; 
		margin-bottom: rem-calc($level1);
		@include h3();

		@include media-query($medium-up) {
			@include h2();
		}

		span {
			&.is-hidden {
				display: none; 
			}
		} 
	}
	

	.product__price {
		margin-bottom: rem-calc($level1); 
		display: block; 
		@include h3(); 

		span {
			&.is-hidden {
				display: none; 
			}
		}
	}

	.product__rating {
		margin-bottom: rem-calc($level2);
	}

	.product__description {
		font-weight: normal; 
		font-size: .9rem; 

		@include media-query($medium-up) {
			font-size: 1rem; 
		}
		
		span {
			&.is-hidden {
				display: none; 
			}
		}
	}

	.product__images {
    margin-right: auto;
    margin-left: auto;
    max-width: 12.5rem;
    margin-top: -16px;
    position: relative; 
    z-index: 0; 

    @include media-query($medium-up) {
			max-width: 110%;
			width: 110%;
			left: -10%;
			right: auto;   
    }

    @include media-query($large-up) {
			max-width: 100%;
    }

		img {
			width: 100%; 

			&.is-hidden {
				display: none; 
			}
		}
	}

	.product__actions {
		
		@include media-query($medium-up) {
			max-width: 70%; 
		}


		@include media-query($large-up) {
			max-width: 100%; 
		}

		.product__actions__label {
			text-transform: uppercase; 
			color: $primary-color;
			font-weight: bold; 
			margin-right: rem-calc($level2); 
			@include text-mini();
		}

		.product__actions__select {
			select {
				margin-bottom: rem-calc($level2);

				@include media-query($medium-up) {
					margin-bottom: rem-calc($level3);
				}
			}
		}

		.product__actions__button {
			@include media-query($medium-up) {
				margin-bottom: 0; 
				max-width: rem-calc(200px); 
			}
		}
	}
	
	.product__payment-options {
		width: 100%;

		.product__payment-options__option {
	    max-width: 5.25rem;
	    margin-right: 4%;
	    margin-bottom: rem-calc($level2);

	    @include media-query($medium-up) {
	    	margin-right: rem-calc($level4);
	    }
		}

		li:last-child {
			.product__payment-options__option {
				margin-right: 0
			}
		}
	}
}
