
   <!--Narrative Menu--> 
    <ul data-ui-component="hangover-science-narrative-menu" 
        class="narrative-menu  show-for-medium-up">
        
        <li data-menuanchor="Hangover-Science" class="narrative-menu-bullet  active">
          <a href="#Hangover-Science"></a>
        </li>

        <li data-menuanchor="Headache" class="narrative-menu-bullet">
          <a href="#Headache"></a>
        </li>

        <li data-menuanchor="Nausea" class="narrative-menu-bullet">
          <a href="#Nausea"></a>
        </li>

        <li data-menuanchor="Dehydration" class="narrative-menu-bullet">
          <a href="#Dehydration"></a>
        </li>

        <li data-menuanchor="Irritability" class="narrative-menu-bullet">
          <a href="#Irritability"></a>
        </li>

        <li data-menuanchor="Fatigue" class="narrative-menu-bullet">
          <a href="#Fatigue"></a>
        </li>
        
        <li data-menuanchor="Impaired-Mental-Function" class="narrative-menu-bullet">
          <a href="#Impaired-Mental-Function"></a>
        </li>
        
        <li data-menuanchor="Sensitivity" class="narrative-menu-bullet">
          <a href="#Sensitivity"></a>
        </li>

        <li data-menuanchor="Difficulty-Focusing" class="narrative-menu-bullet">
          <a href="#Difficulty-Focusing"></a>
        </li>

        <li data-menuanchor="Blowfish-For-Hangovers" class="narrative-menu-bullet">
          <a href="#Blowfish-For-Hangovers"></a>
        </li>
        
    </ul>
    <!--End Narrative Menu-->  
    


   <!--Begin Hangover Science Main Content--> 
    <main data-ui-component="hangover-science-narrative">

      <!--Hangover Science Intro Slide--> 
      <section class="row center-sm middle-sm
                  narrative-slide  narrative-slide--intro"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Hangover-Science">


        <div class="container-fluid">
          <div class="row  narrative-slide-copy  center-sm  middle-sm">
            <div class="col-sm-12">
              
              <div class="row  center-sm">
        
                <div class="col-sm-10  col-md-3">
        
                <div class="narrative-slide-blowfish">
                    <img src="{{'illustr--blowfishGoggles.svg' | asset_url}}" alt="" width="60">
                </div>
      
                </div>
        
              </div>
        
              <h1 class="headline  narrative-slide__headline {%if settings.altHeadlineOn %}headline--alt {%endif%}">
                The Unfortunate <br>Science of Hangovers
              </h1>
            </div>
        
            <div class="col-sm-12 col-md-7">
               <p class="narrative-slide__body">Hangovers are the worst. Here’s a breakdown of the science (but not too much) behind them and how Blowfish can help. </p>
            </div>
          </div>
        </div>
            
   <!--      <button class="narrative-slide-cta  arrowCta  arrowCta--alt arrowCta--bottomPadding"
                data-action="go-to-next-slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>
        </button> -->
      </section>
      <!--End Slide--> 
      




      <!--Begin Slide--> 
      <section class="narrative-slide"
           data-ui-component="hangover-science-narrative-slide"
            data-anchor="Headache">
                
        <div class="container-fluid">
          <div class="row  middle-md">
          
            <div class="col-sm-12  col-md-4 col-lg-4">
                
              <div class="narrative-slide-visual  narrative-slide-visual--headache">
              </div>
            
            </div>
          
            <div class="col-sm-12  col-md-6  col-md-offset-1 col-lg-offset-2  col-lg-5">
                
              <div class="narrative-slide-copy">
          
                <h2 class="narrative-slide__headline headline">
                  Ah, Headaches
                </h2>
                  
                <p class="narrative-slide-description">
                  Have you ever woken up after a night out with a pounding head and sworn you’re never, ever, ever drinking again? Good. Because neither have we. But you feel like death because as the body breaks down alcohol, it triggers inflammatory reactions, as in crippling headaches. The maximum strength aspirin in Blowfish eases the pain, and the effervescent delivery method gets it into your system faster than you can email in sick.
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!--End Slide--> 



      <!--Begin Slide--> 
      <section class="narrative-slide  narrative-slide--alt"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Nausea">
        
          <div class="container-fluid">
            <div class="row  reverse-md  center-md  middle-md">
            
              <div class="col-sm-12  col-md-4 col-lg-4">
                <div class="narrative-slide-visual  narrative-slide-visual--nausea">
                </div>
              </div>
            
              <div class="col-sm-12  col-md-6  col-lg-5">
                  
                <div class="narrative-slide-copy">
            
                  <h2 class="narrative-slide__headline  headline">
                      The Ole Nausea
                  </h2>
                    
                  <p class="narrative-slide-description  section-text">
                   Little known fact. Caffeine has been proven to ease hangover symptoms. Slightly better known little known fact. Coffee can upset an already angry, hungover stomach. So what's the best way to get the caffeine your body needs into your system quickly and gently? <i>Hint: It has an effervescent formula and rhymes with Glowfish.</i>
                  </p>
            
                </div>
              
              </div>
              
            </div>
          </div>
  
      </section>
      <!--End Slide--> 


      <!--Begin Slide--> 
      <section class="narrative-slide"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Dehydration">
        
          <div class="container-fluid">
            <div class="row  middle-md">
            
              <div class="col-sm-12  col-md-4 col-lg-4">
                <div class="narrative-slide-visual  narrative-slide-visual--dehydration">
                </div>
              </div>
            
              <div class="col-sm-12  col-md-6  col-md-offset-1 col-lg-offset-2  col-lg-5">
                  
                <div class="narrative-slide-copy">
            
                  <h2 class="narrative-slide__headline  headline">
                      Dehydration, A Classic
                  </h2>
                    
                  <p class="narrative-slide-description">
                    You know the old saying: Alcohol suppresses a hormone called Vasopressin which can result in frequent urination and dehydration as a result of drinking? Ok. Maybe that’s not an old saying. And yes, probably indicates we need to get out of the lab more. But the point is, Blowfish is a lemony refreshing drink that delivers the H2O and hydration you desperately need.
                  </p>
                </div>
              
              </div>
              
            </div>
          </div>

      </section>
      <!--End Slide--> 


      <!--Begin Slide--> 
      <section class="narrative-slide  narrative-slide--alt"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Irritability">
        
          <div class="container-fluid">
            <div class="row  reverse-md  center-md  middle-md">
            
              <div class="col-sm-12  col-md-4 col-lg-4">
                <div class="narrative-slide-visual  narrative-slide-visual--irritability">
                </div>
              </div>
            
              <div class="col-sm-12  col-md-6  col-lg-5">
                  
                <div class="narrative-slide-copy">
            
                  <h2 class="narrative-slide__headline  headline">
                      Irrrrrritability
                  </h2>
                    
                  <p class="narrative-slide-description  section-text">
                     Who’s askin’? Ok, sure.  Some studies suggest that hangovers are the result of minor alcohol withdrawal. And yeeees, our nervous system adapts to the effects of alcohol and then TOTALLY FREAKS OUT when it’s removed (as in right now). But seriously what’s it to you? 
                  </p>
            
                </div>
              
              </div>
              
            </div>
          </div>

      </section>
      <!--End Slide--> 


      <!--Begin Slide--> 
      <section class="narrative-slide"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Fatigue">
        
        <div class="container-fluid">
          <div class="row  middle-md">
            <div class="col-sm-12  col-md-4 col-lg-4">
              <div class="narrative-slide-visual  narrative-slide-visual--fatigue">
          
              </div>
            </div>
          
            <div class="col-sm-12  col-md-6 col-lg-5  col-md-offset-1 col-lg-offset-2">
                
              <div class="narrative-slide-copy">
          
                <h2 class="narrative-slide__headline  headline">
                  Ughhh, Fatigue
                </h2>
                  
                <p class="narrative-slide-description">
                   A shocking new study has shown collapsing on your bed, shoes on, face down is not “high quality sleep.” And worse sleep equals worse hangovers. Plus, if your last memory is trying to convince your Uber to stop at Taco Bell, chances are you didn’t get to bed at a reasonable hour. Luckily, Blowfish gives you the morning caffeine kick your body definitely needs.
                </p>
          
              </div>
            
            </div>
            
          </div>
        </div>

      </section>
      <!--End Slide--> 


      <!--Begin Slide--> 
      <section class="narrative-slide   narrative-slide--alt"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Impaired-Mental-Function">
                
        <div class="container-fluid">
          <div class="row  center-md  reverse-md  middle-md">
            <div class="col-sm-12  col-md-4 col-lg-4">
              <div class="narrative-slide-visual  narrative-slide-visual--impairedMentalFunction">
          
              </div>
            </div>
          
            <div class="col-sm-12  col-md-6 col-lg-5">
              <div class="narrative-slide-copy">
                <h2 class="narrative-slide__headline  headline">
                    Impaired Mental Function
                </h2>
                  
                <p class="narrative-slide-description  section-text">
                  Drinking can slow communication between the neurotransmitters in your brain well into the next day. (So yeah. You can drink yourself stupid). The caffeine in Blowfish counteracts this effect by stimulating the nervous system and giving you the mental boost you need to, at the very least, remember your email password.
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!--End Slide--> 



      <!--Begin Slide--> 
      <section class="narrative-slide  row  center-sm  middle-sm"
           data-ui-component="hangover-science-narrative-slide">
        
        <div class="container-fluid">
          <div class="row  middle-md">
          
            <div class="col-sm-12  col-md-4 col-lg-4">
              <div class="narrative-slide-visual  narrative-slide-visual--sensitivity">
              </div>
            </div>
          
            <div class="col-sm-12  col-md-6 col-lg-5  col-md-offset-1 col-lg-offset-2">
                
              <div class="narrative-slide-copy">
          
                <h2 class="narrative-slide__headline  headline">
                    Light + Sound Sensitivity
                </h2>
                  
                <p class="narrative-slide-description">
                  The sensory sensitivity you experience during a hangover often accompanies a throbbing headache. The pain reliever in Blowfish works fast to block pain receptors, shielding your senses from the onslaught that is light, humans talking or simply existing.
                </p>
          
              </div>
            
            </div>
            
          </div>
        </div>

      </section>
      <!--End Slide--> 


      <!--Begin Slide--> 
      <section class="narrative-slide  narrative-slide--alt  row  center-sm  middle-sm"
           data-ui-component="hangover-science-narrative-slide"
           data-anchor="Difficulty-Focusing">
        
          <div class="container-fluid">
            <div class="row  center-md  reverse-md  middle-md">
            
              <div class="col-sm-12  col-md-4 col-lg-4">
                <div class="narrative-slide-visual  narrative-slide-visual--difficultyFocusing">
                </div>
              </div>
            
              <div class="col-sm-12  col-md-6 col-lg-5">
                <div class="narrative-slide-copy">
            
                  <h2 class="narrative-slide__headline  headline">
                      D-D-Difficulty Focusing
                  </h2>
                    
                  <p class="narrative-slide-description  section-text">
                   Being dehydrated, fatigued, and in pain can seriously affect your ability to focus or worse—your ability to focus. But the four pillars of healing in Blowfish: water, pain reliever, caffeine, and effervescence work together to quickly rehydrate, alleviate pain, and give your brain the slight kick in the ass it needs. 
                  </p>
                </div>
              </div>
            </div>
          </div>
      </section>
      <!--End Slide--> 


    <!--Begin Slide--> 
    <div data-ui-component="hangover-science-narrative-slide"
    class="narrative-slide  narrative-slide--finalSlide  row  middle-md"
    data-anchor="Blowfish-For-Hangovers">
              
      <section class="narrative-slide-mainContent">

        <div class="container-fluid">
          <div class="row  middle-md  reverse-md  center-md">
                  
            <div class="col-sm-12  col-md-5">
              <div class="narrative-slide-visual  narrative-slide-visual--productShot">
                  
              </div>
            </div>
                  
            <div class="col-sm-12  col-md-6  col-lg-5  col-lg-offset-1">
                
              <div class="narrative-slide-copy">
                  
                <h2 class="narrative-slide__headline  headline">
                    Blowfish For Hangovers
                </h2>
                  
                <p class="narrative-slide-description  mb4">
                  Ok. That’s enough learning. All we’re saying is it’s time to invest in the only hangover formulation that’s recognized as effective by the FDA. It’s backed by science, guaranteed to work, and at about a buck a hangover, pretty much a no brainer.
                </p>
          
                 <div class="row center-sm start-md">
                   <div class="col-sm-10  col-md-8  col-lg-6">
                       <a href="/products/starter-pack-20-tablets" rel="internal" 
                          class="button  button--small  button--secondary button--expanded">
                         <span class="button-textState1">I need that</span>
                         <span class="button-textState2">I need that</span>
                       </a>
                   </div>
                  </div>
              </div>
            </div>
          </div>
          
         <!--  <button class="narrative-slide-cta  arrowCta  arrowCta--bottomPadding  arrowCta--goUp  show-for-medium-up"
                  data-action="go-to-first-slide">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>
                  <span class="arrowCta-text [ text-mini  fwb lh4 pt7 mt2 display-block center ] ">BACK TO TOP</span>
          </button> -->
        </div>

      </section>

    </div>

    <!--end slide--> 


